.feedback {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 45px;
  font-weight: 700;
  color: #b57c3f;
}
.feedback_button {
  padding: 5px 10px;
  margin: 5px;
  text-transform: capitalize;
  border-color: #b57c3f;
  background-color: #ecd6cd;
  color: #b57c3f;
}
